.center{
text-align:center;
color:#337ab7;
font-family: 'Hind', sans-serif;
font-weight: bold;
}

.page-div {
  height:100%;
  width:100%;
  position: absolute;
  background: #f7f7f7;
}

.top-page{

}

/* Nav */
.float-right{
  float:right
}

.page-links {
  font-size: 20px;
  font-family: 'Comfortaa';
  color: #8c8c8c;
  font-weight: bold;
}

.navbar {
background-color:white;
text-align: center;
}

.navbar-image{
height:100%;
}

/*Second half of page*/


.bottom-page{
background-color: #f7f7f7;
}

.title{
   font-family: 'Comfortaa';
   color: #8c8c8c;
   font-weight: bold;
}


.header-date{
}

.date{
  float:right;
  font-weight: bold;
  color:#8c8c8c;
  font-family: 'Comfortaa';
}

p{
  color:#8c8c8c;
  font-family: 'Comfortaa';
}

.post-wrapper {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius:2px;
  margin-bottom:20px;
}


.post-content{
  background-color:white;
  border-radius: 2px;
  text-align: center;
  padding:30px;
  margin-bottom:25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  margin: 45px auto;
}

.post-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  height:5%;
}

.black{
  font-family: 'Comfortaa';
  color: #8c8c8c;
}

/* Ported Over from Bishersworld */

.project-image{
  align-self: center;
  width: 150px;
  height: auto;
}


.tagline-text{


}



.formdiv{

  }

.formdisplay{
    display: flex;
    flex-direction: column;
  }


input{
-webkit-border-radius: 5px;
}


#instabotpreview{
  width:150px;
  height:auto;
  border: .5px solid white;
  -webkit-border-radius: 5px;
}

input[type="file"] {
    display: none;
}


.custom-file-upload {
    -webkit-border-radius: 5px;
    /* box-shadow: 1px 1px 1px 1px; */

}


/*
.tab {
    float: left;

}

.tablinks button {
    display: block;
    background-color: inherit;
    padding: 22px 16px;
    width: 100%;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border: none;
    font-weight: bold;
    color: black;

}

*/




/*For insta file uploading
input[type="file"] {
    display: none;
}


.custom-file-upload {
    -webkit-border-radius: 5px;

}

*/


/*
For displaying possts

<div id= 'outputs'>
<h2 class = 'specialp'>{{info}}</h2>
</div>

#outputs{
  display: flex;
  align-content: flex-start;
  padding-top: 15px;
}
*/


/* Hiding stuff on start

#craighistory,#tweetat,#SentAnaly,#Posting,#search,#post,#instaman,#bigred,#tweetdude,#craiger{
  display: none;
}

*/



/* How to use functionality
.projwrapper{
  padding-left: 1em;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.projwrapper > h2{
  color: white;
  font-family: 'Dosis', sans-serif;

}

.othertab {
    display: block;
    background-color: inherit;
    padding: 22px 16px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border: none;
    font-weight: bold;
    color: black;
}

*/
