<!DOCTYPE>
<html>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content="width=device-width, initial-scale=1" />
  <link rel="icon" href="static/assets/b.jpg">
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <title>bishers.world</title>
</head>

<body>
  <div class='page-div'>

    <div class='top-page'>
      <nav class="navbar navbar-dark">


        <div class="container-fluid">
          <a class="navbar-brand" href={{url_for('index')}}>
            <img alt="Brand" src="static/assets/b.jpg" class="navbar-image">
          </a>
          <ul class="nav nav-pills right-float">
            <li class='right-float'>
              <a class='page-links' href={{url_for('project')}}> Projects </a>
            </li>

            <li class='right-float'>
              <a class='page-links' href={{url_for('post')}}> Blog </a>
            </li>


            <li class='right-float'>
              <a class='page-links' href={{url_for('about')}}> About </a>
            </li>
          </ul>
        </div>

        <a href = https://www.youtube.com/watch?v=Vhh_GeBPOhs> <h1 class = 'center'> Development, Development, Development </h1> </a>
      </nav>
    </div>

    <div class='bottom-page'>
      <div class='container-fluid post-wrapper'>

        <div class='row left'>

          <div class='post-content'>
            <div class='header-date'>
              <h2 class='title'>HangMan</h2>
            </div>
            <p> Plan trips and do More. </p> <br>
              <a target=_blank href="http://hangman.zone"> <button type="button" class="btn btn-primary">Visit</button></a>

            </div>

              <div class='post-content'>
                <div class='header-date'>
                  <h2 class='title'>Twitter Bot</h2>
                </div>
                <p>Sentinment Analyzer and Tweeting from a private account</p>
                <a href={{url_for('project',_anchor='twitterbot')}}><button type="button" class="btn btn-primary">Tweet</button></a>

          </div>

        </div>

<!--
        <div class='row mid'>

          <div class='post-content'>
            <div class='header-date'>
              <a target=_blank href=http://hangman.zone> <h2 class='title'>Github</h2></a>
            </div>
            <p>Check out my Github</p> <br>
            </div>


            <div class='post-content'>
              <div class='header-date'>
                <h2 class='title'>Fun Zone</h2>
              </div>
              <p>Look at it, it's so fun.</p>
            </div>


        </div>
      -->

        <div class='row right'>



          <div class='post-content'>
            <div class='header-date'>
             <h2 class='title'> Reddit Bot </h2>
            </div>
            <p>Searching made easy</p> <br>
            <a href={{url_for('project',_anchor='redditbot')}}><button type="button" class="btn btn-primary">Check it out</button></a> <br> <br>

          </div>

          <div class='post-content'>
                <div class='header-date'>
                  <h2 class='title'>Instagram Bot</h2>
                </div>
                <p>Post to a public account</p>
                <a href={{url_for('project',_anchor='instabot')}}><button type="button" class="btn btn-primary">Post</button></a>
          </div>



        </div>

      </div>
      <div class="footer">

        <a target=_blank href="https://twitter.com/yabish92" class="fa fa-twitter fa-lg black"></a>
        <a target=_blank href="https://www.linkedin.com/in/bisherk" class="fa fa-linkedin fa-lg black"></a>
        <a target=_blank href="https://github.com/bkunbargi" class="fa fa-github fa-lg black"></a>
        <br>
        <a class = 'black'> Email me @ b.kunbargi@gmail.com </a>
      </div>
    </div>
  </div>

</body>

</html>
