<!DOCTYPE>
<html>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content="width=device-width, initial-scale=1" />
  <link rel="icon" href="static/assets/b.jpg">
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <title>bishers.world</title>
</head>

<body>
  <div class='page-div'>
    <div class='top-page'>
      <nav class="navbar navbar-dark">


        <div class="container-fluid">

          <a class="navbar-brand" href={{url_for('index')}}>
            <img alt="Brand" src="static/assets/b.jpg" class="navbar-image">
          </a>
          <ul class="nav nav-pills right-float">

            <li class='right-float'>
              <a class='page-links' href={{url_for('project')}}> Projects </a>
            </li>

            <li class='right-float'>
              <a class='page-links' href={{url_for('post')}}> Blog </a>
            </li>


            <li class='right-float'>
              <a class='page-links' href={{url_for('about')}}> About </a>
            </li>

          </ul>
        </div>
        <a href = https://www.youtube.com/watch?v=Vhh_GeBPOhs> <h1 class = 'center'> Development, Development, Development </h1> </a>
      </nav>
    </div>
    <div class='bottom-page'>
      <div class='container-fluid post-wrapper'>

        <div class='row left'>

          <div class='post-content'>
            <div class='header-date'>
              <a target=_blank href=http://hangman.zone> <h2 class='title'>HangMan</h2></a>
            </div>
            <p> Do More. </p> <br>
            <a target=_blank href=https://github.com/bkunbargi/hangman> Github </a> <br>
              <a target=_blank href=http://hangman.zone/about.html> What is it </a> </div> <div class='post-content'>
                <div class='header-date'>
                  <h2 class='title'>Collections</h2>
                </div>
                <p>Collection of collections</p>
          </div>

        </div>


        <div class='row left'>

          <div class='post-content'>
            <div class='header-date'>
              <a target=_blank href=http://hangman.zone> <h2 class='title'>HangMan</h2></a>
            </div>
            <p> Do More. </p> <br>
            <a target=_blank href=https://github.com/bkunbargi/hangman> Github </a> <br>
              <a target=_blank href=http://hangman.zone/about.html> What is it </a> </div> <div class='post-content'>
                <div class='header-date'>
                  <h2 class='title'>Collections</h2>
                </div>
                <p>Collection of collections</p>
          </div>

        </div>

        <div class='row right'>

          <div class='post-content'>
            <div class='header-date'>
              <h2 class='title'>TBD</h2>
            </div>
            <p>Fun Zone</p>
          </div>

          <div class='post-content'>
            <div class='header-date'>
              <a target=_blank href=http://bishersworld.herokuapp.com> <h2 class='title'> Bots </h2> </a>
            </div>
            <p>Instagram-Reddit-Twitter Bots</p> <br>
            <a href=#> Github </a> <br>
            <a href=#> What bots?</a>
          </div>

        </div>

      </div>
      <div class="footer">

        <a target=_blank href="https://twitter.com/yabish92" class="fa fa-twitter fa-lg black"></a>
        <a target=_blank href="https://www.linkedin.com/in/bisherk" class="fa fa-linkedin fa-lg black"></a>
        <a target=_blank href="https://github.com/bkunbargi" class="fa fa-github fa-lg black"></a>
        <br>
        <a class = 'black'> Email me @ b.kunbargi@gmail.com </a>
      </div>
    </div>
  </div>

</body>

</html>
