<!DOCTYPE>
<html>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content="width=device-width, initial-scale=1" />
  <link rel="icon" href="static/assets/b.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/project.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Hind&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="{{url_for('static', filename='js/projects.js')}}"></script>
  <title>Projects</title>
</head>

<body>
  <div class='page-div'>
    <div class='top-page'>
      <nav class="navbar navbar-default">

        <div class="container-fluid">
            <a class="navbar-brand" href={{url_for('index')}}>
              <img alt="Brand" src="static/assets/b.jpg" class="navbar-image">
            </a>

          <ul class="nav nav-pills float-right">

            <li>
              <a class='page-links' href={{url_for('index')}}> Home </a>
            </li>

            <li>
              <a class='page-links' href={{url_for('post')}}> Post </a>
            </li>
            <li class='right-float'>
              <a class='page-links' href={{url_for('about')}}> About </a>
            </li>

          </ul>
        </div>
        <h1 class = 'center'> Projects </h1>
      </nav>

    </div>
    <div class='bottom-page'>
      <div class='post-wrapper'>
        <!-- Inject Code here -->



        <div id = 'redditbot'  class='post-content'>
          <div class='header-date'>
            <h2 class='title'>Reddit Bot</h2>
            <img class = 'project-image' src = '/static/assets/snoo2.png'>
          </div>
          <p class = 'center'>Do a quick search of reddit to find exactly what you're looking for</p>
          <p class = 'center'>Anonymously respond to a comment using this third party account </p>

          <div class="tab">
            <button type="button" class="btn btn-primary" onclick="hideContent('reddit', 'search')">Search Reddit</button>
             <button type="button" class="btn btn-primary" onclick="hideContent('reddit', 'post')">Respond Anonymously</button>
          </div>
          <br>

          <div class = 'formbox'>
              <form id = 'search' class = 'formdisplay reddit search' action = '/redditbot' method = 'POST'>
                <p>A two step search function that pulls all related subreddits to a topic and <br> grabs all the comments from threads with the a specific keyword in the title. </p>
                <input type = 'text' name = 'subkey' placeholder="Topic ex. NBA" class = 'redditinput'>
                <input type = 'text' name = 'redditkeyword' placeholder="Subtopic ex. Lebron" class = 'redditinput'>
                <input type = 'submit' name ='ugh'>
              </form>

              <form id = 'post' class = 'formdisplay reddit post' action = '/redditbot2' method = 'POST'>
                <p>Reply to a comment keeping your username anonymous by using
                 <br> an account associated with this bot to find the comment to respond to. </p>
                <input type = 'text' name = 'madecomment' placeholder="Comment to respond" class = 'redditinput'>
                <input type = 'text' name = 'subid' placeholder="Thread ID" class = 'redditinput'>
                <input type = 'text' name = 'uresponse' placeholder="Response" class = 'redditinput'>

                <input type = 'submit' name ='ugh'>
              </form>

          </div>

          <div id = 'bigred' class = 'persiproj'>

              <div id = 'search' class = 'reddit search'>
              <p class = 'center'>Required Input:<br>
              Input 1: Subreddits keyword <br>
              Input 2: Thread keyword </p>
              </div>

              <div id = 'post' class = 'reddit post'>
                <p class = 'center'>Required Input:<br>
                Input 1: The comment that you want to respond to <br>
                Input 2: The thread ID of the comment to respond to.<br>
                Input 3: Your desired response to that comment <br>
              </p>
            </div>

        </div>
        <div id= 'outputs'>
        <h2 class = 'specialp'>{{info}}</h2>
        </div>
        </div>



        <div id = 'twitterbot' class='post-content'>
          <div class='header-date'>
            <h2 class='title'>Twitter Bot</h2>
            <img class = 'project-image' src = '/static/assets/twitter.png'>
          </div>
          <p class = 'center'>Send a Tweet from a public account <br>
           Retweets the highest and lowest scoring sentimets pertaining to the keyword.</P>

          <div class = 'formbox'>

              <form id = tweet class = 'formdisplay twitter tweet' action = '/twitterbot' method = 'POST'>
                <p> Tweet or Respond to someone. </p>
                <input type = 'text' name = 'user_tweet' placeholder="Tweet">
                <input type = 'text' name = 'responderhandle' placeholder="Tweeting @">
                <input type = 'text' name = 'statusid' placeholder = 'Status Id'>
                <input type = 'submit' name ='ugh'>
              </form>
                <br>
              <form id = sentanaly class = 'formdisplay twitter sentanaly' action = '/twitterbot2' method = 'POST'>
                <p> Retweets the highest and lowest scoring sentimets pertaining to the keyword. </p>
                <input type = 'text' name = 'keyword1' placeholder="Sentinment Analysis">
                <input type = 'submit' name ='ugh'>
              </form>
          </div>

          <div id = 'twittersentanaly' class = 'persiproj'>

            <div class="tab">
               <button type="button" class="btn btn-primary" onclick="hideContent('twitter', 'sentanaly')">Sentiment Analysis</button>
                <button type="button" class="btn btn-primary" onclick="hideContent('twitter', 'tweet')">Tweet Anonymously</button>
          </div>

            <div id = 'sentanaly' class = 'twitter sentanaly'>
              <br> <p class = 'center'> Required Input:<br>
              Keyword to search for and perform sentiment analysis on.
            </p>

            </div>
            <div id = 'tweet' class = 'twitter tweet'>
              <br> <p class = 'center'>Required Input:<br>
              Input 1: The tweet to respond with. <br>
              <br> Or additionally add
              Input 2: The twitter username to respond to.<br>
              Input 3: Twitter thread ID.
            </p>

            </div>
          </div>


          </div>

        </div>

        <div id = 'instabot' class='post-content'>
          <div class='header-date'>
            <h2 class='title'>Instagram Bot</h2>
            <img class = 'project-image' src = '/static/assets/insta.png'>
          </div>
          <p class = 'center'>A community controlled Instagram page: <br>
              Post with either a URL or choose a file to upload from computer</p>
          <div id = 'instaman' class = 'persiproj'>

               <div class = 'formbox'>

                    <form class = 'formdisplay' action = '/instabot' method = 'POST' enctype="multipart/form-data">
                      <input type='text' name='tpic' placeholder="Image Url">
                      <p> Or </p>
                      <label for="file-upload" class="custom-file-upload">
                        <input id='file-upload' type="file" name="file" accept="image/*" onchange="document.getElementById('instabotpreview').src = window.URL.createObjectURL(this.files[0])">
                        <p>Click to upload an image </p>
                      </label>
                      <img id="instabotpreview">
                      <input type='text' name='caption' placeholder="Add a Caption">
                      <input type = 'submit' name ='ugh'>

                    </form>
                </div>

            <div id = 'Posting'>
              <p class = 'center'>
              <br><br>Required Input:<br>
              Image URL or uploaded image <br>
              Image Caption<br>
            </p>

            </div>



        </div>

        </div>


      </div>



    </div>
    <div class="footer">
      <a target=_blank href="https://twitter.com/yabish92" class="fa fa-twitter fa-lg black"></a>
      <a target=_blank href="https://www.linkedin.com/in/bisherk" class="fa fa-linkedin fa-lg black"></a>
      <a target=_blank href="https://github.com/bkunbargi" class="fa fa-github fa-lg black"></a> <br>
      <a class = 'black'> Email me @ b.kunbargi@gmail.com </a>
    </div>

  </div>
</body>


</html>
