<!DOCTYPE>
<html>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content="width=device-width, initial-scale=1" />
  <link rel="icon" href="static/assets/b.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/project.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <title>Projects</title>
</head>

<body>
  <div class='page-div'>
    <div class='top-page'>
      <nav class="navbar navbar-default">

        <div class="container-fluid">
            <a class="navbar-brand" href={{url_for('index')}}>
              <img alt="Brand" src="static/assets/b.jpg" class="navbar-image">
            </a>

          <ul class="nav nav-pills float-right">

            <li>
              <a class='page-links' href={{url_for('index')}}> Home </a>
            </li>

            <li>
              <a class='page-links' href={{url_for('post')}}> Post </a>
            </li>
            <li class='right-float'>
              <a class='page-links' href={{url_for('about')}}> About </a>
            </li>

          </ul>
        </div>
        <h1 class = 'center'> Projects </h1>
      </nav>

    </div>
    <div class='bottom-page'>
      <div class='post-wrapper'>
        <!-- Inject Code here -->



        <div id = 'redditbot'  class='post-content'>
          <div class='header-date'>
            <p class='date'>8/1/2019</p> <br>
            <h2 class='title'>Reddit Bot</h2>
            <img class = 'project-image' src = '/static/assets/snoo2.png'>
          </div>
          <p class = 'center'>Do a quick search of reddit to find exactly what you're looking for</p>
          <p class = 'center'>Anonymously respond to a comment using this third party account </p>
          <div class = 'formbox'>
              <form class = 'formdisplay' action = '/redditbot' method = 'POST'>
                <p> Search Reddit </p>
                <input type = 'text' name = 'subkey' placeholder="Topic ex. NBA" class = 'redditinput'>
                <input type = 'text' name = 'redditkeyword' placeholder="Subtopic ex. Lebron" class = 'redditinput'>
                <input type = 'submit' name ='ugh'>
                <br> <br>
                <p> Anonymously Respond </p>
                <input type = 'text' name = 'madecomment' placeholder="Comment to respond" class = 'redditinput'>
                <input type = 'text' name = 'subid' placeholder="Subreddit ID" class = 'redditinput'>
                <input type = 'text' name = 'uresponse' placeholder="Response" class = 'redditinput'>

                <input type = 'submit' name ='ugh'>
              </form>
          </div>

          <div id = 'bigred' class = 'persiproj'>
            <div class="tab">
               <button class="tablinks" onclick="openCity(event, 'search')">Searching</button>
               <button class="tablinks" onclick="openCity(event, 'post')">Responding</button>
            </div>

              <div id = 'search' class = 'tabcontent'>

              <p>A two step search function that pulls all related subreddits to input 1 and grabs all the comments<br> from threads with Input 2 in the title.
              Enter both keywords click submit, sit back for a minute
              Then with a quick control+f that is simultaneously checking all threads at once to find the comment chain that has what you're looking for.
              <br><br>Required Input:
              Input 1: The type of subreddit that is relevant to what you're looking for. <br>
              Input 2: The Keyword of what you're looking for, e.x. "I'm looking for information related to Django(Input 2)
              I might find it in Web Development(Input 1) related subreddits" </p>
              </div>

              <div id = 'post' class = 'tabcontent'>

              <p>Reply to a comment keeping your username anonymous:<br>
                Uses an account associated with this bot to find the comment to respond to and responds with the submitted comment
                <br><br>Required Input:<br>
                Input 1: The thread ID(Input 1), can be found in the link page  PUT A PICTURE  <br>
                Input 2: The comment that you want to respond to <br>
                Input 3: Your desired response to that comment (Input 2) <br>
              </p>
            </div>

        </div>


        </div>



        <div id = 'twitterbot' class='post-content'>
          <div class='header-date'>
            <p class='date'>8/1/2019</p> <br>
            <h2 class='title'>Twitter Bot</h2>
            <img class = 'project-image' src = '/static/assets/twitter.png'>
          </div>
          <p>Tweet from my account</p>

          <div class = 'formbox'>

              <form class = 'formdisplay' action = '/twitterbot' method = 'POST'>
                <p> Tweet or Respond to someone. </p>
                <input type = 'text' name = 'user_tweet' placeholder="Tweet">
                <input type = 'text' name = 'responderhandle' placeholder="Tweeting @">
                <input type = 'text' name = 'statusid' placeholder = 'Status Id'>
                <input type = 'submit' name ='ugh'>
                <br>
                <p> Run a sentiment analyzer on a given keyword and have it tweeted! </p>
                <input type = 'text' name = 'keyword1' placeholder="Sentinment Analysis">
                <input type = 'submit' name ='ugh'>
              </form>
          </div>

          <div id = 'tweetdude' class = 'persiproj'>

            <div class="tab">
               <button class="tablinks" onclick="openCity(event, 'SentAnaly')">Sentiment Analysis</button>
               <button class="tablinks" onclick="openCity(event, 'tweetat')">Tweet @</button>

            <div id = 'SentAnaly' class = 'tabcontent'>
              <p>Keyword Sentiment Analysis:<br>
                 Retweets the highest and lowest scoring sentimets pertaining to the keyword.
              <br><br>Required Input:<br>
              Keyword: This keyword is the only required input for this functionality.
            </p>

            </div>
            <div id = 'tweetat' class = 'tabcontent'>
              <p> Anonymous Tweeting: <br>
                  Use the account associated with this bot to tweet at someone.
              <br><br>Required Input:<br>
              User Tweet: Your desired tweet <br>
              Username: The username of the person you are responding to drop the '@'<br>
              Status ID: Can be found in the URL when the tweet is open in your browser PICTURE  <br>
            </p>

            </div>
          </div>


          </div>

        </div>

        <div id = 'instabot' class='post-content'>
          <div class='header-date'>
            <p class='date'>8/1/2019</p> <br>
            <h2 class='title'>Instagram Bot</h2>
            <img class = 'project-image' src = '/static/assets/insta.png'>
          </div>
          <p>Post images to a community run Instagram account</p>
          <div id = 'instaman' class = 'persiproj'>

               <div class = 'formbox'>

                    <form class = 'formdisplay' action = '/instabot' method = 'POST' enctype="multipart/form-data">
                      <input type='text' name='tpic' placeholder="Image Url">
                      <p> Or </p>
                      <label for="file-upload" class="custom-file-upload">
                        <input id='file-upload' type="file" name="file" accept="image/*" onchange="document.getElementById('instabotpreview').src = window.URL.createObjectURL(this.files[0])">
                        <p>Click to upload an image </p>
                      </label>
                      <img id="instabotpreview">
                      <input type='text' name='caption' placeholder="Add a Caption">
                      <input type = 'submit' name ='ugh'>

                    </form>
                </div>

            <div id = 'Posting' class = 'tabcontent'>
              <p> A community controlled Instagram page: <br>
                  Post with either a URL or choose a file to upload from computer
              <br><br>Required Input:<br>
              First Input: Accepts the URL to an image <br>
              Upload: To upload an image from hard drive and displays the preview<br>
              One or the other only of the above <br>
              Caption: Associates a caption and/or hashtags with the image being uploaded from URL or File <br>
            </p>

            </div>



        </div>

        </div>


      </div>



    </div>
    <div class="footer">
      <a target=_blank href="https://twitter.com/yabish92" class="fa fa-twitter fa-lg black"></a>
      <a target=_blank href="https://www.linkedin.com/in/bisherk" class="fa fa-linkedin fa-lg black"></a>
      <a target=_blank href="https://github.com/bkunbargi" class="fa fa-github fa-lg black"></a> <br>
      <a class = 'black'> Email me @ b.kunbargi@gmail.com </a>
    </div>

  </div>
</body>


</html>
